/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.footer {
    position: absolute;
    bottom: 0;
    width: 100px;
    height: 70px;
    text-align: center;
    color: violet;
    background-color: blue;
}